* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
}
.sky {
	position: relative;
	background-color: rgb(18, 119, 234);
	height: 55vh;
	animation: sky 5s linear 1;
}
.sun {
	margin-top: 50px;
	margin-left: 70px;
	position: absolute;
	background-color: #ffbf00;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #d191077c;
	box-shadow: 0px 0px 50px 5px rgb(248, 172, 8);
	animation: sun 5s linear 1;
}
.ground {
	height: 45vh;
	background-color: rgb(44, 30, 30);
}
.grass {
	position: relative;
	height: 20vh;
	background-color: #2a9f43;
}
.road {
	position: relative;
	top: -37%;
	height: 10vh;
	background-color: #464343;
}
.car {
	margin-top: -10px;
	margin-left: 50%;
	position: absolute;
	width: 150px;
	height: 70px;
	background-color: orangered;
	border-radius: 20px;
	animation: car 3s linear 1;
	animation-fill-mode: forwards;
}
.car::after,
.car::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 35px;
	background-color: orangered;
}

.car::after {
	right: -20px;
	border-top-right-radius: 10px;
}

.car::before {
	left: -20px;
}

.front-window {
	position: absolute;
	margin-top: 3px;
	height: 32px;
	width: 45px;
	background-color: blue;
	border-top-left-radius: 40%;
}

.rear-window {
	position: absolute;
	margin-left: 105px;
	margin-top: 3px;
	height: 32px;
	width: 45px;
	background-color: blue;
	border-top-right-radius: 40%;
}

.front-wheel {
	margin-top: 46px;
	position: absolute;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px silver dashed;
	background-color: black;
	z-index: 1;
	animation: wheel 3s linear infinite;
}
.rear-wheel {
	margin-left: 105px;
	margin-top: 46px;
	position: absolute;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px silver dashed;
	animation: wheel 3s linear infinite;
	background-color: black;
	z-index: 1;
}

@keyframes sky {
	0% {
		background-color: rgb(3, 3, 9);
	}
	50% {
		background-color: rgb(18, 119, 234);
	}
	100% {
		background-color: rgb(9, 9, 64);
	}
}
@keyframes sun {
	0% {
		top: 500px;
	}
	40% {
		top: 100px;
	}
	60% {
		top: 100px;
	}
	100% {
		top: 500px;
	}
}
@keyframes car {
	from {
		left: -1500px;
	}
	to {
		left: 1500px;
	}
}
@keyframes wheel {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
